<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Product By ID</title>
</head>
<body>
<tr th:each="product:${products}">
    <th th:text="${products.id}"></th>
    <th th:text="${products.name}"></th>
    <th th:text="${products.description}"></th>
    <th th:text="${products.price}"></th>
    <th th:text="${products.brand}"></th>
</tr>
</body>
</html>